<footer class="footer-{{ tema }}">
  <p>Emanoel Figueredo<br>Desenvolvedor FullStack</p>
  <div class="social-medias">
    <app-social-media [icone]="iconeGituhb" link="https://github.com/emanoelfigueredo/angular-spring-file-manager/" title="Acesse o projeto no GitHub!"></app-social-media>
    <app-social-media [icone]="iconeLinkedin" link="https://www.linkedin.com/in/emanoel-figuer%C3%AAdo-47063b215/" title="Acesse meu perfil no Linkedin!"></app-social-media>
    <app-social-media [icone]="iconeGmail" link="mailto:emanoel.figueredo.1@gmail.com" title="Entre em contato por e-mail!"></app-social-media>
    <app-social-media [icone]="iconeTelefone" link="tel:11976256212" title="Entre em contato por telefone ou WhatsApp"></app-social-media>
  </div>
</footer>
