.preview-arquivo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.preview-arquivo .img-preview {
  width: 40%;
}

.preview-arquivo .img-preview img {
  width: 100%;
}

.entry-file-form {
  width: 60%;
}
