<div class="preview-arquivo">
  <div class="img-preview">
    <img [src]="imagemPreviewArquivo" alt="Imagem do arquivo">
    <p>{{ tamanhoArquivo }}</p>
  </div>
  <form [formGroup]="uploadForm" class="entry-file-form">
    <input
      type="text"
      class="entry-file-name"
      placeholder="Nome do arquivo"
      formControlName="fileName"
    >
    <input
      type="text"
      class="entry-file-name"
      placeholder="Extenção"
      formControlName="fileNameExtencao"
    >
  </form>
</div>
