<div class="card-file card-file-{{ tema }}">
  <div class="file">
    <div>
      <input type="checkbox" />
      <span class="checkmark"></span>
    </div>
    <div class="card-file__tipo">
      <img
        src="assets/images/files-types/zip.png"
        alt="Imagem do arquivo ZIP"
      />
      <div class="name-file">
        <p>arquivo.zip</p>
        <p class="file-date">2022/01/05 12:55:01</p>
      </div>
    </div>
  </div>

  <div class="buttons">
    <fa-icon class="file-icones" [icon]="iconeEditar"></fa-icon>
    <fa-icon class="file-icones" [icon]="iconeFavoritar"></fa-icon>
  </div>
</div>
