.modal {
  width: 90vw;
  height: 20vh;
  position: absolute;
  top: calc((100vh - 20vh) / 2);
  left: calc((100vw - 90vw) / 2);
  background-color: white;
  z-index: 2001;
  display: grid;
  grid-template-columns: 60% 40%;
  align-items: center;
  gap: 1em;
  justify-content: center;
  background-color: var(--background-escuro);
  padding: 1.5em;
  border-radius: 7px;
}

.modal p {
  grid-row: 1;
  grid-column: 1 / span 2;
  text-align: center;
  color: white;
}

.modal fa-icon {
  top: 1em;
  right: 1em;
  position: absolute;
  color: white;
  cursor: pointer;
}

.entry {
  grid-row: 2;
  width: 100%;
  border: none;
  background-color: var(--background-body-escuro);
  padding: 0.5em 1em;
  outline: none;
  color: white;
  border-radius: 7px;
  cursor: pointer;
}

.modal button {
  grid-row: 2;
  border: none;
  background-color: var(--color-button);
  padding: 0.5em 1em;
  outline: none;
  color: white;
  border-radius: 7px;
  text-align: center;
  cursor: pointer;

}

.back-modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: 0.8;
  z-index: 2000;
}
