.modal {
  width: 90vw;
  height: 20vh;
  position: absolute;
  top: calc((100vh - 20vh) / 2);
  left: calc((100vw - 90vw) / 2);
  background-color: white;
  z-index: 2001;
  display: grid;
  grid-template-columns: 60% 40%;
  align-items: center;
  gap: 1em;
  justify-content: center;
  background-color: var(--background-escuro);
  padding: 1.5em;
  border-radius: 7px;
}

.entry {
  grid-row: 2;
}

.modal button {
  grid-row: 2;
}
