<div class="body body-{{ tema }}">
  <app-header [tema]="tema" [tipoArquivos]="tipoDeArquivos"></app-header>
  <app-barra-lateral
    (alteracaoDeTema)="trocarTemaAtual($event)"
    (tipoDeArquivoAlterado)="obterTipoDeArquivoSelecionado($event)"
  ></app-barra-lateral>
  <app-modal-adicionar-diretorio
  (modalFechado)="modalCriarPastaAberto = false"
  [modalCriarPastaAberto]="modalCriarPastaAberto"
  ></app-modal-adicionar-diretorio>
  <app-modal-adicionar-arquivo
  (modalFechado)="modalAdicionarArquivosAberto = false"
  [modalAdicionarArquivosAberto]="modalAdicionarArquivosAberto"
  [tipoArquivos]="tipoDeArquivos"
  ></app-modal-adicionar-arquivo>
  <section class="view-container-main view-container-main-{{ tema }}">
    <app-view
    [tema]="tema"
    [tipoDeArquivos]="tipoDeArquivos"
    (eventoAbrirModalAdicionarPasta)="modalCriarPastaAberto = true"
    (eventoAbrirModalAdicionarArquivo)="modalAdicionarArquivosAberto = true"
    ></app-view>
    <app-footer [tema]="tema"></app-footer>
  </section>
</div>
