<div class="file-preview">
  <div class="img-preview">
    <img [src]="imagemURL" alt="Imagem de arquivo.">
    <p class="file-info__size">Tamanho: {{ tamanhoArquivo }}</p>
  </div>
  <form [formGroup]="uploadForm" class="entry-file-form">
    <input
      type="text"
      class="entry-file-name"
      placeholder="Nome do arquivo"
      formControlName="fileName"
    >
    <input
      type="text"
      class="entry-file-name"
      placeholder="Extenção"
      formControlName="fileNameExtencao"
    >
  </form>
 </div>
