.barra-lateral {
  position: fixed;
  top: var(--dimensao-barra-header);
  z-index: 200;
  width: var(--dimensao-barra-header);
  height: calc(100% - var(--dimensao-barra-header));
  padding: 0.35em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.barra-lateral-claro {
  background-color: var(--background-claro);
}

.barra-lateral-escuro {
  background-color: var(--background-escuro);
}

.barra-lateral__sections-links {
  width: 100%;
  margin-top: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.75em;
  cursor: pointer;
}

.link {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1em;
  color: white;
  padding: 0 1em;
}

.link p {
  display: none;
}

.sections-links__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2em;
  height: 2em;
  border-radius: 7px;
}

.sections-links__icon-claro {
  background-color: var(--color-tag-claro);
}

.sections-links__icon-escuro {
  background-color: var(--color-tag-escuro);
  color: var(--icon-color-escuro);
}

.sections-links__icon-claro {
  background-color: var(--color-tag-claro);
}

.sections-links__icon-escuro {
  background-color: var(--color-tag-escuro);
  color: var(--icon-color-escuro);
}

.link-bottom {
  margin-bottom: 0.2em;
}

@media screen and (min-width: 900px) {

  .barra-lateral {
    width: var(--dimensao-barra-header-grande);
  }

  .barra-lateral img {
    width: 50px;
    margin-top: 0.25em;
    margin-bottom: 0.5em;
  }

  .barra-lateral__top {
    width: 100%;
  }

  .link {
    display: flex;
    align-items: center;
  }

  .link p {
    display: flex;
  }

  .link-bottom {
    margin-bottom: 1em;
  }

}

