.botao-page {
  width: 2em;
  height: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
  cursor: pointer;
}

.botao-page-claro {
  background-color: var(--color-tag-claro);
  color: black;
}

.botao-page-escuro {
  background-color: var(--color-tag-escuro);
  color: white;
}

.botao-page-ativado {
  background-color: var(--color-button);
}
